*{
    box-sizing: border-box;
    font-family: monospace;
    font-size: large;
    font-weight: 100;
    background-color: black;
}

.body{
    margin: 0;
    padding: 0;
}
.border{
    border: 5px solid  darkcyan;
    width: 390px;
    margin:  150px;


}

.input{
    border: 20px solid black;
    background-color: black;
    color: white;
    text-align: right;
    width: 380px;
}

.row{
     
     width: 380px;
     background-color: black;
     display: flex;
    flex-direction: row
    }

.cancel{
    background-color: skyblue;
    width: 160px;
    height: 70px;

}

.backspace{
    
    background-color: skyblue;
    width: 120px;
    height: 70px;
    

}

.divide{
    background-color: #ffc1cc;
    width: 120px;
    

}

.column{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 380px;
} 

.seven ,.eight, .nine{
    background-color: skyblue;
    width: 80px;
    height: 80px;
    
}

.multiply{
    background-color: #ffc1cc;
    width: 140px;
}

.column-2{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 380px;
}

.four , .five , .six {

    background-color: skyblue;
    width: 80px;
    height: 80px;

    
}

.minus{
    background-color: #ffc1cc;
    width: 140px;
}

.column-3{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 380px;
}

.one , .two , .three{
    background-color: skyblue;
    width: 80px;
    height: 80px;

}

.add{
    background-color: #ffc1cc;
    width: 140px;
}

.column-4{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 380px;
}

.zero{
    background-color: skyblue;
    width: 240px;
    height: 80px;

}

.equal{
    background-color: #ffc1cc;
    width: 140px
}

button:hover{ 

    background-color: azure;
}

